

body {
	background-image: url("922661.webp");
	font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: 100% 100%;

}


.typewriter {
	width: 33.5ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
	  text 5s steps(30) alternate infinite;
  }
  
  @keyframes cursor {
	0%, 100% { 
	  border-color: #212121; 
	}
  }
  
  @keyframes text {
	0% { 
	  width: 0; 
	}
	100% { 
	  width: 33.5ch; 
	}
  }

#topmid {
	color: #000000;
	text-align: center;
	font-weight: bold;
	margin:0;
	padding: 0;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	font-style: italic;
	font-size: 35px;
	text-shadow: 2px 2px #f5f4f3;
}

a:link {
	color: rgb(255, 249, 249);
	text-decoration: none;
}

header  nav li :hover{
	border-bottom: 2px #ffff80 solid;
	border-radius: 10px;
	color: #ffff80;
	padding-bottom:2px;
}

header  nav li{
    display: table;
    height: 80%;
    float: left;
    margin-right: 20px;
	padding-left: 10px;

}

header  nav a{
    color: rgb(255, 249, 249);
}

header nav li a.active {
	border-bottom: 2px #ffff80 solid;
	border-radius: 10px;
	color: #ffff80;
	padding-bottom:2px;
}

.tab {
	font-weight: bold;
	margin: auto;
	width:35%;
	text-align:center;
	margin:0;
	padding: 0;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
}

.tab tr {
	border: 1px black hidden;
	border-radius: 10px;
	background-color: #FFE5CC;
	font-size: 22px;
	float:center;
	padding-left:25%;
	padding-bottom:5px;
	padding-top:2px;
	margin-bottom:10px;
	width:100%;
}
input {
	padding: 2px 2px;
	margin: 2px 0;
	box-sizing: border-box;
	border-radius:10px;
}

.CartContainer{
	width: 70%;
	height: 90%;
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
}

.Header{
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Heading{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #2F3841;
}

.Cart-Items{
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.image-box{
	width: 10%;
	text-align: center;
	height:100px;
}
.about{
	height: 100%;
	width: 24%;
}
.title{
	padding-top: 10px;
	line-height: 10px;
	font-size: 32px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.subtitle{
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
}

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    min-height: 100vh;
    
  }
  
  .container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }



  @media  screen and (max-width:700px) {
	#topmid {
		font-size: 20px;
	}

	header  nav li{
		height: 30%;
		float: left;
		margin-right: 9px;
		padding-left: 4px;
	
	}
  }

